<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://preline.co/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Discover the difference that a professionally crafted website can make for your business.">

  <meta name="twitter:site" content="@preline">
  <meta name="twitter:creator" content="@preline">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Agency Demo Template Tailwind CSS | Preline UI, crafted with Tailwind CSS">
  <meta name="twitter:description"
    content="Discover the difference that a professionally crafted website can make for your business.">
  <meta name="twitter:image" content="https://preline.co/assets/img/og-image.png">

  <meta property="og:url" content="https://preline.co/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Preline">
  <meta property="og:title" content="Agency Demo Template Tailwind CSS | Preline UI, crafted with Tailwind CSS">
  <meta property="og:description"
    content="Discover the difference that a professionally crafted website can make for your business.">
  <meta property="og:image" content="https://preline.co/assets/img/og-image.png">

  <title>Lehrstuhl App</title>

  <link rel="icon" href="/images/fernuni-logo.svg">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css">
</head>

<body class="bg-neutral-900">
  <header class="sticky top-4 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full">
    <nav
      class="relative max-w-[66rem] w-full bg-white rounded-[28px] py-3 ps-5 pe-2 md:flex md:items-center md:justify-between md:py-0 mx-2 lg:mx-auto"
      aria-label="Global">


      <div class="flex items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/images/fernuni-logo.svg" class="h-8" alt="FernUni Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Lehrstuhl App</span>
        </a>

        <div class="md:hidden">
          <button type="button"
            class="hs-collapse-toggle size-8 flex justify-center items-center text-sm font-semibold rounded-full bg-neutral-800 text-white disabled:opacity-50 disabled:pointer-events-none"
            data-hs-collapse="#navbar-collapse" aria-controls="navbar-collapse" aria-label="Toggle navigation">
            <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <line x1="3" x2="21" y1="6" y2="6" />
              <line x1="3" x2="21" y1="12" y2="12" />
              <line x1="3" x2="21" y1="18" y2="18" />
            </svg>
            <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </button>
        </div>
      </div>


      <div id="navbar-collapse"
        class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
        <div
          class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7 md:mt-0 md:ps-7">
          <a class="text-sm text-black hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
            href="/" aria-current="page">Home</a>

          <!-- altes Dropdown mit Submenu
          <div class="hs-dropdown relative md:py-4">
            <button type="button"
              class="flex items-center w-full text-sm text-black hover:text-neutral-300 focus:outline-none focus:text-neutral-300">
              Erstellen
              <svg class="flex-shrink-0 ms-1 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m6 9 6 6 6-6" />
              </svg>
            </button>

            <div class="hs-dropdown-menu md:w-48 hidden z-10 bg-neutral-800">
              <div class="hs-dropdown relative">
                <button type="button" class="w-full flex justify-between items-center py-2 px-3 text-sm text-white">
                  Abschlussarbeiten
                  <svg class="sm:-rotate-90 flex-shrink-0 ms-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="m6 9 6 6 6-6" />
                  </svg>
                </button>

                <div class="hs-dropdown-menu md:w-48 hidden z-10 md:mt-2 bg-neutral-800">
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white"
                    href="/abstrakte_abschlussarbeiten">
                    Abstrakte Abschlussarbeiten
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/konkrete_abschlussarbeiten">
                    Konkrete Abschlussarbeiten
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/ergebnisse_abschlussarbeiten">
                    Ergebnisse Abschlussarbeiten
                  </a>
                </div>
              </div>

              <div class="hs-dropdown relative">
                <button type="button"
                  class="w-full flex justify-between items-center py-2 px-3 text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300">
                  Klausuren
                  <svg class="sm:-rotate-90 flex-shrink-0 ms-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="m6 9 6 6 6-6" />
                  </svg>
                </button>

                <div class="hs-dropdown-menu md:w-48 hidden z-10 md:mt-2 bg-neutral-800 md:shadow-md rounded-lg p-2">
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/module">
                    Module
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/klausuren">
                    Klausuren
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/klausurergebnisse">
                    Klausurergebnisse
                  </a>
                </div>
              </div>

              <div class="hs-dropdown relative">
                <button type="button"
                  class="w-full flex justify-between items-center py-2 px-3 text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300">
                  Seminare
                  <svg class="sm:-rotate-90 flex-shrink-0 ms-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="m6 9 6 6 6-6" />
                  </svg>
                </button>

                <div class="hs-dropdown-menu md:w-48 hidden z-10 md:mt-2 bg-neutral-800 md:shadow-md rounded-lg p-2">
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/seminare">
                    Seminare
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/abstrakte_seminare">
                    Abstrakte Seminare
                  </a>
                  <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                    href="/seminarergebnisse">
                    Seminarergebnisse
                  </a>
                </div>
              </div>
            </div>
          </div> -->

          <div class="hs-dropdown relative">
            <button type="button" class="hs-dropdown-toggle py-2 px-4 text-white bg-gray-800 rounded-lg">
              Personen
            </button>
            <div class="hs-dropdown-menu hidden absolute z-10 bg-white rounded-lg shadow-md p-2">
              <a href="/students" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Studenten</a>
              <a href="/mitarbeiter" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Mitarbeiter</a>
            </div>
          </div>

          <div class="hs-dropdown relative md:py-4">
            <button type="button"
              class="hs-dropdown-toggle flex items-center w-full text-sm text-black hover:text-neutral-300 focus:outline-none focus:text-neutral-300">
              Erstellen
              <svg class="flex-shrink-0 ms-1 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m6 9 6 6 6-6" />
              </svg>
            </button>

            <div
              class="hs-dropdown-menu md:w-48 hidden z-10 bg-neutral-800 md:shadow-md rounded-lg p-2 before:absolute top-full before:-top-5 before:start-0 before:w-full before:h-5">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white"
                href="/abstrakte_abschlussarbeiten">
                Abstrakte Abschlussarbeiten
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/konkrete_abschlussarbeiten">
                Konkrete Abschlussarbeiten
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/ergebnisse_abschlussarbeiten">
                Ergebnisse Abschlussarbeiten
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/module">
                Module
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/klausuren">
                Klausuren
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/klausurergebnisse">
                Klausurergebnisse
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/seminare">
                Seminare
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/abstrakte_seminare">
                Abstrakte Seminare
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/seminarergebnisse">
                Seminarergebnisse
              </a>
            </div>
          </div>

          <div class="hs-dropdown relative md:py-4">
            <button type="button"
              class="hs-dropdown-toggle flex items-center w-full text-sm text-black hover:text-neutral-300 focus:outline-none focus:text-neutral-300">
              Filtern
              <svg class="flex-shrink-0 ms-1 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m6 9 6 6 6-6" />
              </svg>
            </button>

            <div
              class="hs-dropdown-menu md:w-48 hidden z-10 bg-neutral-800 md:shadow-md rounded-lg p-2 before:absolute top-full before:-top-5 before:start-0 before:w-full before:h-5">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/filter_abstrakt">
                Abstrakte Abschlussarbeiten
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/filter_konkret">
                Konkrete Abschlussarbeiten
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/ergebnisse-abschlussarbeiten">
                Ergebnisse Abschlussarbeiten
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/show_ergebnis">
                Show Ergebnis
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/filter_abstrakt_konkret">
                Gehört zu
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                href="/filterseminare">
                Seminare
              </a>
            </div>
          </div>
          <a class="group inline-flex items-center gap-x-2 py-2 px-3 bg-[#8000ff] font-medium text-sm text-neutral-800 rounded-full focus:outline-none"
            href="#">Contact us</a>
        </div>
      </div>
    </nav>
  </header>

  <main id="content">
    <div class="bg-neutral-900">
      <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-16 lg:pt-24 pb-16">
        <h1 class="font-semibold text-white text-5xl md:text-6xl">
          <span class="text-[#8000ff]">Manage all your Lehrstuhl Processes</span> in one place
        </h1>
        <div class="max-w-4xl">
          <p class="mt-5 text-neutral-400 text-lg">
            Von der Verwaltung von Abschlussarbeiten bis hin zur Organisation von Seminaren und Klausuren. Mit der
            Lehrstuhl App haben Sie alles im Blick.
          </p>
        </div>
      </div>
    </div>

    <div class="bg-neutral-900 bg-gradient-to-t from-black via-transparent to-transparent">
      <div class="max-w-5xl px-4 xl:px-0 py-4 mx-auto">
        <div class="max-w-3xl mb-10 lg:mb-14">
          <h2
            style="font-weight: 600; font-size: 2rem; line-height: 1.5; display: inline; background: linear-gradient(to right, white, #fbbf24); -webkit-background-clip: text; color: transparent;">
            Progress of <span style="color: #ff0;">our app</span>
          </h2>

          <p class="mt-1 text-neutral-400">
            🎯 Fakultäten profitieren von <span class="text-white font-semibold">unserer Lösung</span> – mit optimierten
            Workflows,
            ⚡ <span class="text-yellow-400">höherer Effizienz</span> und einer <span class="text-green-400">verbesserten
              Nutzererfahrung</span>.
            🔄 Von <span class="text-white">intelligenten Datenverknüpfungen</span> über <span
              class="text-blue-400">automatisierte Prozesse</span>
            bis hin zu einer modernen, <span class="text-purple-400">intuitiven Oberfläche</span>.
          </p>

        </div>

       <div class="grid grid-cols-1 lg:grid-cols-3 items-center border border-neutral-700 divide-y lg:divide-y-0 lg:divide-x divide-neutral-700 rounded-xl overflow-hidden">
  
  <!-- Abschlussarbeiten -->
  <a class="group relative z-10 p-6 h-full flex flex-col bg-neutral-900 justify-center items-center text-center transition duration-300 hover:bg-neutral-800 hover:shadow-xl hover:shadow-yellow-500/10"
    href="/konkrete_abschlussarbeiten">
    <div class="mb-5 flex flex-col justify-center items-center">
      <div class="mt-5">
        <p class="font-semibold text-4xl text-white flex items-center gap-2">
          Abschlussarbeiten 🎓
        </p>
        <img class="w-full object-cover rounded-xl mt-5 shadow-md shadow-neutral-700 group-hover:shadow-yellow-400/50" 
             src="/images/konkret-show.png" 
             alt="Abschlussarbeiten Image">
      </div>
    </div>
    <p class="mt-auto">
      <span class="font-medium text-sm text-[#ff0] pb-1 border-b-2 border-neutral-700 group-hover:border-[#ff0] transition">
        ➡️ Go to page
      </span>
    </p>
  </a>

  <!-- Klausuren -->
  <a class="group relative z-10 p-6 h-full flex flex-col bg-neutral-900 justify-center items-center text-center transition duration-300 hover:bg-neutral-800 hover:shadow-xl hover:shadow-yellow-500/10"
    href="/klausuren">
    <div class="mb-5 flex flex-col justify-center items-center">
      <div class="mt-5">
        <p class="font-semibold text-4xl text-[#ffff80] flex items-center gap-2">
         Klausuren ✍️ 
        </p>
        <img class="w-full object-cover rounded-xl mt-5 shadow-md shadow-neutral-700 group-hover:shadow-yellow-400/50" 
             src="/images/klausur-show.png" 
             alt="Klausuren Image">
      </div>
    </div>
    <p class="mt-auto">
      <span class="font-medium text-sm text-[#ff0] pb-1 border-b-2 border-neutral-700 group-hover:border-[#ff0] transition">
        ➡️ Go to page
      </span>
    </p>
  </a>

  <!-- Seminare -->
  <a class="group relative z-10 p-6 h-full flex flex-col bg-neutral-900 justify-center items-center text-center transition duration-300 hover:bg-neutral-800 hover:shadow-xl hover:shadow-yellow-500/10"
    href="/seminare">
    <div class="mb-5 flex flex-col justify-center items-center">
      <div class="mt-5">
        <p class="font-semibold text-4xl text-[#ff0] flex items-center gap-2">
          Seminare 📚 
        </p>
        <img class="w-full object-cover rounded-xl mt-5 shadow-md shadow-neutral-700 group-hover:shadow-yellow-400/50" 
             src="/images/seminare.png" 
             alt="Seminare Image">
      </div>
    </div>
    <p class="mt-auto">
      <span class="font-medium text-sm text-[#ff0] pb-1 border-b-2 border-neutral-700 group-hover:border-[#ff0] transition">
        ➡️ Go to page
      </span>
    </p>
  </a>

</div>
</div>
    </div>

    <div class="bg-neutral-900">
      <div class="max-w-5xl px-4 xl:px-0 py-10 lg:py-20 mx-auto">

        <div class="max-w-3xl mb-10 lg:mb-14">
          <h2
            style="font-weight: 600; font-size: 2rem; line-height: 1.5; display: inline; background: linear-gradient(to right, white, #EE552F); -webkit-background-clip: text; color: transparent; transition: background 0.5s ease-in-out;">
            Finde dein <span style="color: #EE552F;">Seminar 🔎</span>
          </h2>
          <p class="mt-1 text-neutral-400">
            Mit unserem schnellen Suchfeld ⚡ kannst du Seminare nach Titel filtern – und das alles in Echtzeit! Dank der
            leistungsstarken Kombination von Phoenix und LiveView erhältst du sofortige Ergebnisse, ohne auf die Seite
            neu zu laden.
          </p>
        </div>

        <div class="md:grid md:grid-cols-2 md:gap-10 lg:gap-16 md:items-center">
          <div>

            <blockquote>
              <p class="font-medium text-xl text-white md:text-2xl md:leading-normal 
              xl:text-3xl xl:leading-normal hover:text-[#EE552F] transition-colors duration-500 ease-in-out">
                Mit unserer Seminar-Suche findest du schnell und einfach das passende Thema, das deine Interessen
                abdeckt.
              </p>

              <footer class="mt-6">
                <div class="flex items-center">
                  <div class="shrink-0">
                    <img class="size-12 rounded-full"
                      src="/images/punk-bird.png"
                      alt="punk">
                  </div>
                  <div class="ms-4 md:ms-0">
                    <div class="text-base font-semibold text-white 
                    hover:text-[#EE552F] transition-colors duration-500 ease-in-out">Thomas Osterlehner</div>
                    <div class="text-xs text-neutral-400">Wissenschaftlicher Mitarbeiter | FernUniversität Hagen</div>
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>

          <a href="/filterseminare" class="group">
            <div class="hidden md:block mb-24 md:mb-0">
              <img class="rounded-xl transition-transform duration-300 transform group-hover:scale-105 group-hover:shadow-[0_0_20px_#F25A28]" 
                   src="/images/title-search.png" 
                   alt="Seminar Suche">
            </div>
          </a>          
        </div>
      </div>
    </div>


    <div class="bg-neutral-900">
      <div class="max-w-5xl px-4 xl:px-0 py-10 mx-auto">
        <div class="border border-neutral-800 rounded-xl">
          <div class="p-4 lg:p-8 bg-gradient-to-bl from-neutral-800 via-neutral-900 to-neutral-950 rounded-xl">
            <div class="grid grid-cols-1 sm:grid-cols-3 items-center gap-y-20 gap-x-12">
    
              <div class="relative text-center rounded-lg transition-transform duration-300 hover:scale-110 hover:shadow-lg hover:shadow-[#EE552F]/50">
                <div class="flex justify-center items-center -space-x-5">
                  <img class="size-10 rounded" src="/images/elixir-icon.png" alt="Elixir Icon">
                </div>
                <div class="mt-3 sm:mt-5">
                  <h3 class="text-lg sm:text-3xl font-semibold text-white">Elixir 🧪</h3>
                  <p class="mt-1 text-sm sm:text-base text-neutral-400">skalierbare, fehlertolerante Anwendungen ⚙️</p>
                </div>
              </div>
    
              <div class="relative text-center rounded-lg transition-transform duration-300 hover:scale-110 hover:shadow-lg hover:shadow-[#EE552F]/50">
                <div class="flex justify-center items-center -space-x-5">
                  <img class="size-10 rounded" src="/images/phoenix-icon2.png" alt="Phoenix Icon">
                </div>
                <div class="mt-3 sm:mt-5">
                  <h3 class="text-lg sm:text-3xl font-semibold text-white">Phoenix 🔥</h3>
                  <p class="mt-1 text-sm sm:text-base text-neutral-400">moderne, performante Webanwendungen ⚡</p>
                </div>
              </div>
    
              <div class="relative text-center rounded-lg transition-transform duration-300 hover:scale-110 hover:shadow-lg hover:shadow-[#EE552F]/50">
                <div class="flex justify-center items-center -space-x-5">
                  <img class="size-10 rounded" src="/images/postgresql-icon.png" alt="Postgresql Icon">
                </div>
                <div class="mt-3 sm:mt-5">
                  <h3 class="text-lg sm:text-3xl font-semibold text-white">PostgreSQL 🐘</h3>
                  <p class="mt-1 text-sm sm:text-base text-neutral-400">zuverlässige und flexible Datenbanklösung, ideal für komplexe Abfragen 🗄️</p>
                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bg-neutral-900">
      <div class="max-w-5xl px-4 xl:px-0 py-10 lg:pt-20 mx-auto">
        <div class="max-w-3xl mb-10 lg:mb-14">
          <h2
            style="font-weight: 600; font-size: 2rem; line-height: 1.5; display: inline; background: linear-gradient(to right, white, #3A0A53); -webkit-background-clip: text; color: transparent;">
            Finde gezielt die <span style="color: #8000ff;">Abschlussarbeiten</span>, die dich interessieren!
            <span style="color: #3A0A53;">🚀</span>
          </h2>
          <p class="mt-1 text-neutral-400">Nutze die smarte Filterfunktion 🤓, um schnell und einfach relevante
            Abschlussarbeiten zu entdecken.</p>
        </div>
    
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-16 lg:items-center">
          <a href="/filter_konkret">
            <div class="h-[200px] lg:h-[300px] transition-transform duration-300 hover:scale-105 hover:shadow-xl hover:shadow-[#FF0]/50">
              <img class="w-full h-full object-cover rounded-xl" src="/images/dropdown-filter-new.png" alt="Features Image">
            </div>
          </a>
    
          <div>
            <div class="mb-4">
              <h3 class="text-[#ff0] text-xs font-medium uppercase hover:scale-105 hover:shadow-xl hover:shadow-[#FF0]/50">
                Steps
              </h3>
            </div>
    
            <div class="flex gap-x-5 ms-1">
              <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
                <div class="relative z-10 size-8 flex justify-center items-center">
                  <span class="flex shrink-0 justify-center items-center size-8 border border-neutral-800 text-[#ff0] font-semibold text-xs uppercase rounded-full">
                    1
                  </span>
                </div>
              </div>
              <div class="grow pt-0.5 pb-8 sm:pb-12">
                <p class="text-sm lg:text-base text-neutral-400 rounded-lg hover:scale-105 hover:shadow-xl hover:shadow-[#FF0]/50">
                  <span class="text-white">Wähle einen Betreuer:</span>
                  Zeige nur Abschlussarbeiten eines bestimmten Betreuers an.
                </p>
              </div>
            </div>
    
            <div class="flex gap-x-5 ms-1">
              <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
                <div class="relative z-10 size-8 flex justify-center items-center">
                  <span class="flex shrink-0 justify-center items-center size-8 border border-neutral-800 text-[#ff0] font-semibold text-xs uppercase rounded-full">
                    2
                  </span>
                </div>
              </div>
              <div class="grow pt-0.5 pb-8 sm:pb-12">
                <p class="text-sm lg:text-base text-neutral-400 rounded-lg hover:scale-105 hover:shadow-xl hover:shadow-[#FF0]/50">
                  <span class="text-white">Bestimme das Semester:</span>
                  Finde Arbeiten aus einem bestimmten Zeitraum.
                </p>
              </div>
            </div>
    
            <div class="flex gap-x-5 ms-1">
              <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
                <div class="relative z-10 size-8 flex justify-center items-center">
                  <span class="flex shrink-0 justify-center items-center size-8 border border-neutral-800 text-[#ff0] font-semibold text-xs uppercase rounded-full">
                    3
                  </span>
                </div>
              </div>
              <div class="grow pt-0.5 pb-8 sm:pb-12">
                <p class="text-sm md:text-base text-neutral-400 rounded-lg hover:scale-105 hover:shadow-xl hover:shadow-[#FF0]/50">
                  <span class="text-white">Filtere nach Forschungsprojekt:</span>
                  Zeige nur Arbeiten zu einem bestimmten Forschungsthema.
                </p>
              </div>
            </div>
    
            <!-- Step 4 -->
            <div class="flex gap-x-5 ms-1">
              <div class="relative last:after:hidden after:absolute after:top-8 after:bottom-0 after:start-4 after:w-px after:-translate-x-[0.5px] after:bg-neutral-800">
                <div class="relative z-10 size-8 flex justify-center items-center">
                  <span class="flex shrink-0 justify-center items-center size-8 border border-neutral-800 text-[#ff0] font-semibold text-xs uppercase rounded-full">
                    4
                  </span>
                </div>
              </div>
              <div class="grow pt-0.5 pb-8 sm:pb-12">
                <p class="text-sm md:text-base text-neutral-400 rounded-lg hover:scale-105 hover:shadow-xl hover:shadow-[#FF0]/50">
                  <span class="text-white">Erhalte sofort Ergebnisse:</span>
                  Alle passenden Abschlussarbeiten werden übersichtlich dargestellt.
                </p>
              </div>
            </div>
    
            <a class="group inline-flex items-center gap-x-2 py-2 px-3 bg-[#ff0] font-medium text-sm text-neutral-800 rounded-full focus:outline-hidden hover:scale-105 hover:shadow-xl hover:shadow-[#FF0]/50"
              href="/filter_konkret">
              Schnell, einfach und effizient – probiere es aus!
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </main>

  <footer class="bg-neutral-900 dark:bg-gray-800 dark:text-gray-200 p-8 font-sans">
    <div class="max-w-7xl mx-auto">
      <div class="flex flex-wrap justify-between">
        <div class="flex-1 min-w-[300px] p-4">
          <h3 class="text-white text-xl font-semibold">FernUniversität in Hagen</h3>
          <p class="mt-2 text-neutral-400">
            Universitätsstraße 47<br>
            58097 Hagen<br>
            Telefon: +49 2331 987-2444<br>
            <a href="mailto:info@fernuni-hagen.de" class="text-neutral-400">info@fernuni-hagen.de</a>
          </p>
        </div>
        <div class="flex-1 min-w-[200px] p-4">
          <h3 class="text-white text-xl font-semibold">Kontakt</h3>
          <ul class="mt-2 list-none p-0">
            <li><a href="#" class="text-neutral-400">Kontaktseite</a></li>
            <li><a href="#" class="text-neutral-400">Campusplan & Anfahrt</a></li>
            <li><a href="#" class="text-neutral-400">Feedback & Kritik</a></li>
            <li><a href="#" class="text-neutral-400">Meldestelle für Hinweise</a></li>
            <li><a href="#" class="text-neutral-400">Personensuche</a></li>
            <li><a href="#" class="text-neutral-400">Pressestelle / Marketing</a></li>
          </ul>
        </div>
        <div class="flex-1 min-w-[200px] p-4">
          <h3 class="text-white text-xl font-semibold">Weitere Informationen</h3>
          <ul class="mt-2 list-none p-0">
            <li><a href="#" class="text-neutral-400">News</a></li>
            <li><a href="#" class="text-neutral-400">Termine</a></li>
            <li><a href="#" class="text-neutral-400">Karriere</a></li>
            <li><a href="#" class="text-neutral-400">Onlineshop</a></li>
            <li><a href="#" class="text-neutral-400">Social Media</a></li>
          </ul>
        </div>
        <div class="flex-1 min-w-[200px] p-4">
          <h3 class="text-white text-xl font-semibold">Rechtliches</h3>
          <ul class="mt-2 list-none p-0">
            <li><a href="#" class="text-neutral-400">Themen A-Z</a></li>
            <li><a href="#" class="text-neutral-400">Barrierefrei</a></li>
            <li><a href="#" class="text-neutral-400">Datenschutzerklärung</a></li>
            <li><a href="#" class="text-neutral-400">Datenschutzbeauftragter</a></li>
            <li><a href="#" class="text-neutral-400">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"></script>
</body>

</html>